{% extends '_layouts/base.html' %}

{% block title %} Contact | {{block.super}}{% endblock %}

{% block headline %}
<h3> {{ block.super }} </h3> 
<h4> Contact </h4> 
{% endblock headline %}

{% block content %}
<p> Please do not hesitate to contact us if you have an inquiry related to SAPLING.</p>

<div class="span5">
	<div class="callout calloutstacked">
		<h4>Contact Information</h4>
			<p><b>Phone: </b><br />+1 516 422 4041</p>
			<p><b>Email: </b><br />General Information: <a href="mailto:wverleye@cshl.edu">wverleye@cshl.edu</a></p>
			<p><b>Press Inquiries: </b><br /><a href="mailto:jgillis@cshl.edu">jgillis@cshl.edu</a></p>
			<p><b>Office: </b><br />Cold Spring Harbor Laboratory<br />Stanley Institute for Cognitive Genomics<br />500 Sunnyside Boulevard<br />Woodbury, NY 11797</p>
	</div>
</div>

{% endblock content %}
